{% load kikinda_tags %}
<div clas="row">
	<div class="col-md-1"></div>
	<div class="col-md-12">
		<div class="row vertical-align">
				{% if items %}
				    <!-- Thumbnail of gallery-->
				    <div class="col-md-4 col-sm-4 col-xs-12">
				        <div id="bigrafia{{id}}" class="img-responsive thumbnail">
				            <a href="/media/images/{{ items | first_image | image_name }}" title="{{items|first_image_title}}"
				               data-gallery="#blueimp-gallery-bigrafia-{{id}}" >
				                    <img src="/media/images/{{ items | first_image | image_name }}" alt="{{image.description}}">
				                </a>
				            {% for image in items|rest_images %}
				                    <a href="/media/images/{{ image.image|image_name }}" title="{{image.description}}"
				                       data-gallery="#blueimp-gallery-bigrafia-{{id}}">
				                    </a>
				            {% endfor %}
				        </div>
				    </div>
				{% else %}
			    	<div class="col-md-4">
			            <div class="widget p-lg text-center">
			                <div class="m-b-md">
			                    <i class="fa fa-file-image-o fa-4x"></i>
			                    <h3 class="font-bold no-margins">Sin foto
			                    </h3>
			                    <small>No se encontro la imagen</small>
			                </div>
			            </div>
			        </div>
				{% endif %}

				<div class="col-md-6 col-sm-6 col-xs-12">
					<div id="text">
						{{text|safe}}
					</div>
				</div>
		</div>
	</div>
</div>
