{% load i18n admin_static bootstrapped_goodies_tags %}

<link href="{% static "css/carousel.css" %}" rel="stylesheet"/>
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for imagen in imagenes %}
        {% if forloop.counter == 1 %}
            <div class="item slides active">
        {% else %}
            <div class="item slides">
        {% endif %}
          <div class="slide"><img src="{{imagen.imagen.url}}"</></div>
          <div class="hero">
                <hgroup>
                    <h1>{{imagen.texto}}</h1>
                </hgroup>
          </div>
        </div>
    {% endfor %}

  </div>
</div>
