{% extends 'page_base.html' %}

{% block js %}
{{block.super}}
<script>
$(document).ready(function(){


$("#fecha_casamiento").datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'mm/dd/yy'
});
})
</script>
{% endblock %}

{% block content %}
{{ block.super }}
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-9">
<div class="row">
                {% if success %}
                <div class="alert alert-success" id="mensaje_exito">
                    Se ha enviado con éxito.
                </div>
                {% endif %}
                {% if error %}
                <div class="alert alert-danger" id="mensaje_exito">
                    No se pudo enviar su consulta. Por favor, intente nuevamente
                </div>
                {% endif %}

                <div class="col-lg-8">
                    <div class="ibox float-e-margins">

                        <div class="ibox-title">
                            <h5>Contacto</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form action="{% url 'contact_view' %}" method="POST" class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-sm-12"><input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre y Apellido"></input>
                                    </div>

                                    <div class="col-sm-12"><input type="email" class="form-control" id="email" name="email" placeholder="Email"></input>
                                    </div>

                                    <div class="col-sm-12"><input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono"></input>
                                    </div>
                                    <div class="col-sm-12"><input type="text" class="form-control" id="fecha_casamiento" name="fecha_casamiento" placeholder="Fecha de Casamiento"></input>
                                    </div>
                                    <div class="col-sm-12"><input type="text" class="form-control" id="conocieron" name="conocieron" placeholder="¿Cómo conociste Vestidos con Historia?"></input>
                                    </div>
                                    <div class="col-sm-12"><textarea class="form-control" id="comentario" name="comentario" placeholder="Comentario"></textarea>
                                    </div>
                                </div>

                            </div>
                                <br>
                                <div class="col-sm-12">
                                <input class="btn btn-w-m btn-primary" type="submit" value="Enviar" id="enviar"></input>
                                </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>

</div>
{% endblock %}
