
{% load vestidos_tags %}
<div class="row">
<div class="col-md-1"></div>
<div class="productk col-md-10">
    <br><br>
    <div class="row vertical-align">
    	<div class="col-md-12 col-sm-12 col-xs-12">
            <h3 style="text-align:center;font-family: 'Raleway', sans-serif; font-size: 16px;">{{title}}</h3>
            <h5 style="text-align:center;">{{tipo}}</h5>
            <br>
            <br>
    	</div>
    </div>
    <div class="row">

    	{% if imagenes %}
        <!-- Thumbnail of gallery-->
        <!-- /media/images/1.jpg -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="product{{id}}" class="img-responsive thumbnail">
                <a href="/media/images/{{ imagenes | first_image | image_name }}" title="{{imagenes|first_image_title}}"
                   data-gallery="#blueimp-gallery-product-{{id}}" >
                        <img src="/media/images/{{ imagenes | first_image | image_name }}" alt="{{image.description}}">
                    </a>
                {% for image in imagenes|rest_images %}
                        <a href="/media/images/{{ image.imagen|image_name }}" title="{{image.description}}"
                           data-gallery="#blueimp-gallery-product-{{id}}">
                        </a>
                {% endfor %}
            </div>
        </div>

    	{% else %}
    	<div class="col-md-4">
            <div class="widget p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-file-image-o fa-4x"></i>
                    <h3 class="font-bold no-margins">Sin foto
                    </h3>
                    <small>No se encontro la imagen</small>
                </div>
            </div>
        </div>
    	{% endif %}

    </div>
    {% if not consulta %}
    <div class="col-xs-12 col-sm-12 col-md-12">
       <a href="{% url 'vestido_view' id %}">
           <div class="widget style1 navy-bg">
               <div class="row vertical-align">
                   <div class="col-xs-3">
                       <i class="fa fa-eye fa-3x"></i>
                   </div>
                   <div class="col-xs-9 text-right">
                       <h2>Ver</h2>
                   </div>
               </div>
           </div>
       </a>
   </div>
   {% endif %}
    <br><br>
</div>
</div>
