{% extends 'page_base.html' %}

{% block content %}
{% for content, position in contents %}
 {% if position < 2 %}
     <div class="row">
         <!--Identacion para centralizar los contents-->
         <div class="col-md-1">
         </div>
         <div class="col-md-10">
             {{content}}
         </div>
     </div>
     <br>
 {% endif %}
{% endfor %}
{% include 'vestido_content.html' %}
{% for content, position in contents %}
 {% if position >= 2 %}
 <div class="row">
     <!--Identacion para centralizar los contents-->
     <div class="col-md-1">
     </div>
     <div class="col-md-10">
         {{content}}
     </div>
 </div>
 <br>
 {% endif %}
{% endfor %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="fb-root"></div>
            <script>
            function comentario_callback(){
                return jQuery.ajax({
        			url: "{% url 'nuevo_comentario' id %}",
        			type: "GET",
        			dataType: "script",
        			async: true,
        		});
            }

              window.fbAsyncInit = function() {
              FB.init({
                appId      : 'YOUR_APP_ID', // App ID
                channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
              });
              FB.Event.subscribe('comment.create', comentario_callback);
            };

            (function(d){
              var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
              if (d.getElementById(id)) {return;}
              js = d.createElement('script'); js.id = id; js.async = true;
              js.src = "//connect.facebook.net/en_US/all.js";
              ref.parentNode.insertBefore(js, ref);
            }(document));
            </script>

        <h1>Comentarios</h1>
        <div
           class="fb-comments"
           data-href="{{ my_object.slug }}"
           data-num-posts="2"
           data-width="470"></div>

</div>
</div>
{% endblock %}
